@charset "UTF-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
.study-card {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center; }
  .study-card .card-bg-img {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    display: block;
    margin-top: 4.5rem; }
  .study-card .content {
    position: absolute;
    width: 15rem;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.5rem; }
    .study-card .content .home-icon {
      margin-top: 1rem; }
    .study-card .content .study-img {
      display: block;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.7rem; }
    .study-card .content .title {
      text-align: left;
      font-size: 24px;
      font-weight: bold;
      margin-left: 1.3rem;
      margin-top: 14px;
      display: block;
      color: #7150F5;
      line-height: 29px; }
    .study-card .content .description {
      text-align: left;
      font-size: 12px;
      margin-left: 1.3rem;
      color: #858585;
      word-break: break-all;
      line-height: 18px;
      margin-right: 1.7rem;
      font-weight: 300; }
  .study-card .check-block {
    width: 100%;
    margin-top: 30.5rem; }

.cus-button {
  width: 85%;
  height: 3rem;
  background: white;
  border: none;
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
  color: #7150F5; }

.study-detail-block {
  margin-top: 1rem;
  padding-bottom: 2.5rem;
  width: 100%; }
  .study-detail-block .attend-table {
    display: table;
    font-size: 12px;
    color: white;
    font-weight: 300;
    text-align: left;
    margin-left: 1.4rem;
    margin-right: 2.3rem;
    margin-bottom: 1rem; }
    .study-detail-block .attend-table div {
      display: table-row;
      padding-bottom: 0.5rem; }
      .study-detail-block .attend-table div img {
        margin-left: 0.9rem;
        margin-right: 0.9rem;
        display: table-cell; }
      .study-detail-block .attend-table div div {
        display: table-cell; }
        .study-detail-block .attend-table div div.title {
          width: 3rem; }
        .study-detail-block .attend-table div div span {
          margin-right: 0.7rem; }
          .study-detail-block .attend-table div div span.not-attend-name {
            opacity: 0.38; }
  .study-detail-block button {
    width: 85%;
    height: 3rem;
    background: white;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    color: #7150F5;
    margin-top: 0.5rem; }

.weekly-attend-list {
  width: 100%;
  height: 100%; }
  .weekly-attend-list .weekly-title {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-top: 4.9rem; }
  .weekly-attend-list ol {
    margin: 0;
    padding: 2rem;
    display: block; }
  .weekly-attend-list .cus-button {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 2rem; }

.weekly-attend-item {
  list-style: none;
  margin-bottom: 2rem;
  display: block; }
  .weekly-attend-item:after {
    display: block;
    content: '';
    clear: both; }
  .weekly-attend-item .name {
    font-size: 16px;
    color: white;
    display: inline-block;
    float: left; }
  .weekly-attend-item .guest-icon {
    font-size: 8px;
    background: white;
    padding: 0.1rem 0.4rem;
    border-radius: 10px;
    display: inline-block;
    float: left;
    margin-left: 0.5rem;
    margin-top: 0.32rem;
    color: #7150F5; }
  .weekly-attend-item .attend-icon {
    display: inline-block;
    float: right; }

.my-attendance-item {
  list-style: none;
  margin-bottom: 2rem;
  display: block; }
  .my-attendance-item:after {
    display: block;
    content: '';
    clear: both; }
  .my-attendance-item .content {
    text-align: left;
    margin-left: 1.5rem;
    font-size: 12px;
    font-weight: 300;
    display: inline-block;
    float: left; }
    .my-attendance-item .content .title {
      color: white; }
    .my-attendance-item .content .date {
      color: white;
      opacity: 0.5; }
    .my-attendance-item .content .guest-icon {
      display: inline-block;
      font-size: 8px;
      background: white;
      font-weight: bold;
      padding: 0.1rem 0.4rem;
      border-radius: 10px;
      display: inline-block;
      margin-left: 0.5rem;
      color: #7150F5; }
  .my-attendance-item img {
    float: right;
    margin-right: 2rem;
    margin-top: 0.5rem; }

.attend-radio-box {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 4rem;
  height: 4rem;
  overflow: hidden; }
  .attend-radio-box .box {
    width: 100%;
    text-align: center; }
  .attend-radio-box span {
    color: white;
    display: inline-block;
    font-size: 12px;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 0.7rem;
    opacity: 0.38; }
  .attend-radio-box .on-img {
    display: none; }
  .attend-radio-box .off-img {
    display: inline; }
  .attend-radio-box input {
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    left: 0; }
    .attend-radio-box input:checked ~ .box .on-img {
      display: inline; }
    .attend-radio-box input:checked ~ .box .off-img {
      display: none; }
    .attend-radio-box input:checked ~ .box span {
      color: #7150F5;
      opacity: 1; }

.my-study-radio-box {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2rem;
  height: 2rem;
  overflow: hidden; }
  .my-study-radio-box .box {
    width: 100%;
    text-align: center; }
  .my-study-radio-box .on-img {
    display: none; }
  .my-study-radio-box .off-img {
    display: inline; }
  .my-study-radio-box input {
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    left: 0; }
    .my-study-radio-box input:checked ~ .box .on-img {
      display: inline; }
    .my-study-radio-box input:checked ~ .box .off-img {
      display: none; }

.img-radio-box {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2rem;
  height: 2rem;
  overflow: hidden; }
  .img-radio-box .box {
    width: 100%;
    text-align: center; }
  .img-radio-box .on-img {
    display: none; }
  .img-radio-box .off-img {
    display: inline; }
  .img-radio-box input {
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    left: 0; }
    .img-radio-box input:checked ~ .box .on-img {
      display: inline; }
    .img-radio-box input:checked ~ .box .off-img {
      display: none; }

html,
body {
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  margin: 0; }

#root {
  height: inherit;
  width: inherit; }

* {
  font-family: 'Spoqa Han Sans'; }

::-webkit-input-placeholder {
  /* 크롬 4–56 */
  color: white;
  opacity: 0.7; }

:-moz-placeholder {
  /* 파이어폭스 4–18 */
  color: white;
  opacity: 0.7; }

::-moz-placeholder {
  /* 파이어폭스 19–50 */
  color: white;
  opacity: 0.7; }

:-ms-input-placeholder {
  /* 인터넷 익스플로러 10+ */
  color: white;
  opacity: 0.7; }

::placeholder {
  /* 파이어폭스 51+, 크롬 57+ */
  color: white;
  opacity: 0.7; }

.login {
  width: 100%; }
  .login .background {
    position: fixed;
    width: inherit; }
  .login .container {
    width: inherit;
    height: 100%;
    position: fixed;
    text-align: center; }
    .login .container img {
      margin-top: 7rem; }
  .login input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.5rem;
    width: 16rem;
    height: 40px;
    background: #7F66F2;
    color: white;
    border: solid 1px white;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    padding: 0; }
  .login button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 16rem;
    height: 40px;
    background: #F4F3FC;
    color: #7150F5;
    font-weight: bold;
    font-size: 12px;
    border: solid 1px white;
    border-radius: 25px;
    margin-top: 1rem;
    padding: 0; }
  .login p {
    font-size: 8px;
    color: white;
    opacity: 0.7;
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0; }

.study-page {
  width: 100%;
  height: 100%;
  background: #7157F1;
  text-align: center; }
  .study-page .weekly-title {
    position: fixed;
    color: white;
    font-size: 23px;
    margin-top: 1.2rem;
    font-weight: bold;
    left: 0;
    right: 0; }
  .study-page .my-page-icon {
    margin-top: 1.6rem;
    right: 4.5rem;
    position: fixed;
    z-index: 10; }

.attend-list-page {
  width: 100%;
  height: 100%;
  background: #7157F1;
  text-align: center; }
  .attend-list-page .title {
    position: fixed;
    color: white;
    font-size: 24px;
    font-weight: normal;
    margin-top: 1.2rem;
    left: 0;
    right: 0; }
  .attend-list-page .close-button {
    position: fixed;
    margin-top: 1.7rem;
    left: 1.3rem;
    z-index: 10; }

.my-page {
  width: 100%;
  height: 100%;
  background: #7157F1;
  text-align: center;
  overflow-y: scroll; }
  .my-page .header {
    display: block;
    width: 100%;
    position: relative; }
    .my-page .header .title {
      position: absolute;
      color: white;
      font-size: 24px;
      font-weight: normal;
      margin-top: 1.2rem;
      left: 0;
      right: 0; }
    .my-page .header .close-button {
      position: absolute;
      margin-top: 1.7rem;
      left: 1.3rem;
      z-index: 10; }
  .my-page .study-title {
    font-size: 16px;
    font-weight: bold;
    color: white;
    display: block;
    margin-top: 0.5rem;
    line-height: 1.3em; }
  .my-page .check-table {
    display: table;
    width: 86%;
    margin-left: 7%;
    margin-top: 2rem; }
    .my-page .check-table div {
      display: table-cell;
      text-align: center; }
    .my-page .check-table img {
      display: block;
      left: 0;
      right: 0;
      margin: auto; }
    .my-page .check-table span {
      margin-top: 0.6rem;
      display: block;
      color: white; }
  .my-page .home-img {
    margin-top: 5.3rem; }
  .my-page ol {
    width: 100%;
    margin-top: 2rem;
    padding: 0; }
  .my-page .logout-btn {
    color: white;
    font-size: 12px;
    opacity: 0.5;
    font-weight: lighter;
    text-decoration: underline;
    padding-bottom: 2rem;
    background: none;
    border: none; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  overflow-y: scroll !important;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
