@charset "UTF-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
.study-card {
  margin-top: 5rem;
  width: 100%;
  height: 70%;
  top: 0;
  text-align: center;
  position: fixed; }
  .study-card .card-bg-img {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -1; }
  .study-card .content {
    position: absolute;
    width: 15rem;
    height: 100%;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }
    .study-card .content .home-icon {
      margin-top: 1rem; }
    .study-card .content .study-img {
      display: block;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.5rem; }
    .study-card .content .title {
      text-align: left;
      font-size: 24px;
      font-weight: bold;
      margin-left: 1.7rem;
      margin-top: 1rem;
      display: block;
      color: #7150F5;
      line-height: 1.3em; }
    .study-card .content .description {
      text-align: left;
      font-size: 12px;
      margin-left: 1.7rem;
      color: #858585;
      word-break: break-all;
      line-height: 1.3em;
      margin-right: 1.7rem; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0; }

#root {
  height: inherit;
  width: inherit; }

* {
  font-family: 'Spoqa Han Sans'; }

::-webkit-input-placeholder {
  /* 크롬 4–56 */
  color: white;
  opacity: 0.7; }

:-moz-placeholder {
  /* 파이어폭스 4–18 */
  color: white;
  opacity: 0.7; }

::-moz-placeholder {
  /* 파이어폭스 19–50 */
  color: white;
  opacity: 0.7; }

:-ms-input-placeholder {
  /* 인터넷 익스플로러 10+ */
  color: white;
  opacity: 0.7; }

::placeholder {
  /* 파이어폭스 51+, 크롬 57+ */
  color: white;
  opacity: 0.7; }

.login {
  width: 320px; }
  @media (min-width: 320px) {
    .login {
      width: 320px; } }
  @media (min-width: 360px) {
    .login {
      width: 360px; } }
  @media (min-width: 375px) {
    .login {
      width: 375px; } }
  @media (min-width: 411px) {
    .login {
      width: 411px; } }
  @media (min-width: 568px) {
    .login {
      width: 568px; } }
  .login .background {
    position: fixed;
    width: inherit; }
  .login .container {
    width: inherit;
    height: 100%;
    position: fixed;
    text-align: center; }
  .login input {
    margin-top: 324px;
    width: 251px;
    height: 40px;
    background: #7F66F2;
    color: white;
    border: solid 1px white;
    border-radius: 25px;
    text-align: center;
    font-size: 12px; }
  .login button {
    width: 251px;
    height: 40px;
    background: #F4F3FC;
    color: #7150F5;
    font-weight: bold;
    font-size: 12px;
    border: solid 1px white;
    border-radius: 25px;
    margin-top: 8px; }
  .login p {
    font-size: 8px;
    color: white;
    margin-top: 120px;
    opacity: 0.7; }

.study-page {
  width: 100%;
  height: 100%;
  background: #7157F1;
  text-align: center; }
  .study-page .weekly-title {
    position: fixed;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 1.5rem;
    left: 0;
    right: 0; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
