@import "theme";

$iphone-5: 320px;
$galaxy-5: 360px;
$iphone-6: 375px;
$pixel-2: 411px;
$content-max-width: 23rem;

* {
  font-family: 'Spoqa Han Sans';
}

::-webkit-input-placeholder { /* 크롬 4–56 */
  color: white;
  opacity: 0.7;
}

:-moz-placeholder { /* 파이어폭스 4–18 */
  color: white;
  opacity: 0.7;
}

::-moz-placeholder { /* 파이어폭스 19–50 */
  color: white;
  opacity: 0.7;
}

:-ms-input-placeholder { /* 인터넷 익스플로러 10+ */
  color: white;
  opacity: 0.7;
}

::placeholder { /* 파이어폭스 51+, 크롬 57+ */
  color: white;
  opacity: 0.7;
}

.container-wrapper {
  position: fixed;
  height: 100%;
  width: $iphone-5;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;

  @media (max-width: $iphone-5) {
    width: $iphone-5;
  }

  @media (max-width: $galaxy-5) {
    width: $galaxy-5;
  }

  @media (max-width: $iphone-6) {
    width: $iphone-6;
  }

  @media (max-width: $pixel-2) {
    width: $pixel-2;
  }
}

.login {
  width: $iphone-5;

  @media (max-width: $iphone-5) {
    width: $iphone-5;
  }

  @media (max-width: $galaxy-5) {
    width: $galaxy-5;
  }

  @media (max-width: $iphone-6) {
    width: $iphone-6;
  }

  @media (max-width: $pixel-2) {
    width: $pixel-2;
  }

  .background {
    position: fixed;
    width: inherit;
  }

  .container {
    width: inherit;
    height: 100%;
    position: fixed;
    text-align: center;
  }

  input {
    margin-top: 324px;
    width: 251px;
    height: 40px;
    background: $color-light-purple;
    color: white;
    border: solid 1px white;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
  }

  button {
    width: 251px;
    height: 40px;
    background: $color-pale-grey;
    color: $color-purpleish-blue;
    font-weight: bold;
    font-size: 12px;
    border: solid 1px white;
    border-radius: 25px;
    margin-top: 8px;
  }

  p {
    font-size: 8px;
    color: white;
    margin-top: 120px;
    opacity: 0.7;
  }
}